<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backdemo.dao.AdminDao">
    <select id="findadmin" resultType="com.backdemo.entity.Admin">
        select * from admin where adminName=#{adminName} and password=#{password}
    </select>
    <insert id="add" parameterType="com.backdemo.entity.Admin">
        insert into admin(id,adminName,password) values(null,#{adminName},#{password})
    </insert>
    <select id="showAdmin" resultType="com.backdemo.entity.Admin">
        select * from admin
    </select>
    <delete id="deleteAdmin" parameterType="com.backdemo.entity.Admin">
          delete from admin where id=#{id}
    </delete>
    <select id="selectAdmin" resultType="com.backdemo.entity.Admin">
        select * from admin where id=#{id}
    </select>
    <update id="upDate" parameterType="com.backdemo.entity.Admin">
        update admin set adminName=#{adminName},password=#{password} where id=#{id}
    </update>
    <select id="souSou" resultType="com.backdemo.entity.Admin" parameterType="String">
     select * from admin where adminName like   CONCAT(CONCAT('%',#{adminName},'%'))
    </select>
</mapper>